/* do not touch */

body {
	box-sizing: border-box;
	font-family: calibri;
	font-size: 62.5%;
	padding: 0;
	margin: 0;
	line-height: 1.7rem;
	font-weight: 300;
	font-color: #2F2C2F;
	position: relative;
}

/*-----------------------------------------------------*/
/* nav bar */
/*-----------------------------------------------------*/

/* Add a black background color to the top navigation */
.topnav {
	background-color: #333;
	overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
	background-color: #4CAF50;
	color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
	display: none;
  }

  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
	  float: right;
	  display: block;
	}
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive a.icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.topnav.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	}
  }
/**********************************************************************************/
/* INDEX PAGE */
/**********************************************************************************/


/**********************************************************************************/
/* JOIN PAGE */
/**********************************************************************************/


/**********************************************************************************/
/* LOGIN PAGE */
/**********************************************************************************/


/**********************************************************************************/
/* PROFILE PAGE */
/**********************************************************************************/


/**********************************************************************************/
/* EDIT PROFILE PAGE */
/**********************************************************************************/


/***************************************************************/
/* listing page*/
/***************************************************************/

 #grid-container {
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 10px;
    position: relative;
  }

  #grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    margin:10px ;
  }
  
  .card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#detailsButton{
	background-color: #000000;
	font-size: 1.5rem;
	padding: .5rem 1rem;
	border-radius: .2rem;
	color: white;
	border: none;
	
}
/*******************************************/
/* Create_post / */
/******************************************/

#createlist-container {
	margin: 10rem 10rem 5rem 10rem;
	box-shadow: 0 0 5px #A8A8A8;
	padding: 1rem 5rem 2rem 5rem;
	border-radius: .2rem;
	position: relative;
}

.newlist-labels {
	font-size: 1.5rem;
	font-weight: 500;
}

#list-content {
	width: 60rem;
	height: 20rem;
	resize: none;
	padding: .5rem;
	font-size: 1rem;
	font-family: arial;
}

#newlist-submit {
	background-color: #77dd77;
	font-size: 1.5rem;
	padding: .5rem 1rem;
	border-radius: .2rem;
	color: white;
	border: none;
	margin-left: 53rem;
	margin-top: 2rem;
}

/*********************************************************/
/*post_details / edit_post  */
/*********************************************************/

#details-container {
	margin: 10rem 10rem 5rem 10rem;
	box-shadow: 0 0 5px #A8A8A8;
	padding: 1rem 5rem 2rem 5rem;
	border-radius: .2rem;
	position: relative;
}

.details-labels {
	font-size: 1.5rem;
	font-weight: 500;
}

.details-content {
	width: auto;
	height: auto;
	resize: none;
	font-size: 1rem;
	font-family: arial;
}

#review-buttons {
	background-color: #77dd77;
	font-size: 1.5rem;
	padding: .5rem 1rem;
	border-radius: .2rem;
	color: white;
	border: none;
	margin-left: 53rem;
	margin-top: 2rem;
}

#edit-button {
  background-color: #77dd77;
  font-size: 1.5rem;
  margin-left: 1000px;
  margin-top: 0cm;
}

#delete-button {
	background-color: #77dd77;
	font-size: 1.5rem;
	margin-left: 20px;
	margin-top: 0cm;
}

/*************************************************/
/* Edit listing */
/*************************************************/
















